/* .alert-success {
  background-color: #4caf50;
  border-color: transparent;
  color: #ffffff;
} */

/* .alert-info {
  background-color: #2196f3;
  border-color: transparent;
  color: #ffffff;
} */

/* .alert-warning {
  background-color: #ffc107;
  border-color: transparent;
  color: #ffffff;
} */
/* 
.alert-danger {
  background-color: #f44336;
  border-color: transparent;
  color: #ffffff;
} */

@-webkit-keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }

  to {
    background-position: 0 0;
  }
}

@keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }

  to {
    background-position: 0 0;
  }
}