<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>project-jsp</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <servlet>
    <description></description>
    <display-name>ServletLogin</display-name>
    <servlet-name>ServletLogin</servlet-name>
    <servlet-class>servlets.ServletLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletLogin</servlet-name>
    <url-pattern>/ServletLogin</url-pattern>
    <url-pattern>/principal/ServletLogin</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>FilterAutenticacao</display-name>
    <filter-name>FilterAutenticacao</filter-name>
    <filter-class>filter.FilterAutenticacao</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>FilterAutenticacao</filter-name>
    <url-pattern>/principal/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>ServletUsuarioController</display-name>
    <servlet-name>ServletUsuarioController</servlet-name>
    <servlet-class>servlets.ServletUsuarioController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletUsuarioController</servlet-name>
    <url-pattern>/ServletUsuarioController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletUserController</display-name>
    <servlet-name>ServletUserController</servlet-name>
    <servlet-class>servlets.ServletUsuarioController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletUserController</servlet-name>
    <url-pattern>/ServletUserController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletTelefoneController</display-name>
    <servlet-name>ServletTelefoneController</servlet-name>
    <servlet-class>servlets.ServletTelefoneController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletTelefoneController</servlet-name>
    <url-pattern>/ServletTelefoneController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletFormularioController</display-name>
    <servlet-name>ServletFormularioController</servlet-name>
    <servlet-class>servlets.ServletFormularioController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletFormularioController</servlet-name>
    <url-pattern>/ServletFormularioController</url-pattern>
  </servlet-mapping>
</web-app>